{% extends "layout.html"  %}

{% block title %}
    Analysis
{% endblock %}

{% block main %}

    <form action="/predict" method="post" class="mt-5">
        <div class="form-group">
          <label for="age">Age</label>
          <input type="text" name="age" id="age" class="form-control" placeholder="Age">
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <input type="text" name="gender" id="gender" class="form-control" placeholder="Gender">
        </div>
        <div class="form-group">
          <label for="height">Height</label>
          <input type="text" name="height" id="height" class="form-control" placeholder="Height">
        </div>
        <div class="form-group">
          <label for="weight">Weight</label>
          <input type="text" name="weight" id="weight" class="form-control" placeholder="Weight">
        </div>
        <div class="form-group">
          <label for="ap_hi">Systolic blood pressure</label>
          <input type="text" name="ap_hi" id="ap_hi" class="form-control" placeholder="Systolic blood pressure">
        </div>
        <div class="form-group">
          <label for="ap_lo">Diastolic blood pressure</label>
          <input type="text" name="ap_lo" id="ap_lo" class="form-control" placeholder="Diastolic blood pressure">
        </div>
        <div class="form-group">
          <label for="chloc">Cholesterol</label>
          <input type="text" name="chloc" id="chloc" class="form-control" placeholder="Cholesterol">
        </div>
        <div class="form-group">
          <label for="gluc">Glucose</label>
          <input type="text" name="gluc" id="gluc" class="form-control" placeholder="Glucose">
        </div>
        <div class="form-group">
          <label for="smoke">Do you smoke?</label>
          <select name="smoke" id="smoke" class="form-control">
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
        </div>
        <div class="form-group">
          <label for="alco">Do you drink alcohol?</label>
          <select name="alco" id="alco" class="form-control">
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
        </div>
        <div class="form-group">
          <label for="act">Are you physically active?</label>
          <select name="act" id="act" class="form-control">
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
    </form>  

{% endblock %}