{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Analysis</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td>{{ row["id"] }}</td>
            <td>{{ row["analysis"] }}</td>
            <td>{{ row["date"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}