{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}

<div class="container">
    <h1 class="display-5 fw-bold text-body-emphasis">Cardiovascular Diseases</h1>
    <div class="row mt-4">
        <div class="col-md-6">
            <img src="./static/images/heart.jpg" alt="Healthy Heart" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2>What are Cardiovascular Diseases? </h2>
            <p>Cardiovascular diseases (CVDs) are a class of diseases that involve the heart and blood vessels. These
                diseases include coronary artery disease, heart failure, valvular heart disease, and various other
                conditions. CVDs are a leading cause of death worldwide.</p>
            <p>They are usually caused by a combination of genetic, behavioral, and environmental factors such as
                smoking, poor diet, lack of physical activity, high blood pressure, high cholesterol levels, and
                diabetes.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 order-md-2">
            <img src="./static/images/artery.jpg" alt="Blocked Arteries" class="img-fluid">
        </div>
        <div class="col-md-6 order-md-1">
            <h2>Symptoms and Prevention</h2>
            <p>The symptoms of cardiovascular diseases can vary depending on the specific condition but may include
                chest pain, shortness of breath, fatigue, dizziness, and irregular heartbeat.</p>
            <p>Prevention and management of CVDs involve adopting a healthy lifestyle, including regular exercise, a
                balanced diet, avoiding tobacco and excessive alcohol consumption, managing stress, and regular
                check-ups with a healthcare professional.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <img src="./static/images/doctor.jpg" alt="Doctor" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2>Treatment and Care</h2>
            <p>Treatment options for cardiovascular diseases may include medication, lifestyle changes, surgical
                procedures, or a combination of these approaches. It is crucial to consult with a healthcare
                professional for an accurate diagnosis and appropriate treatment plan.</p>
            <p>Proper care and management of CVDs can help improve quality of life, reduce symptoms, and prevent
                complications.</p>
        </div>
    </div>
</div>

{% endblock %}
